/* 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'ZCOOL XiaoWei', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Berkshire Swash', cursive;
*/

/*  ==========
      BODY 
    ==========    */

.img-fluid {
    background-image: url("../img/fundoB.jpg");
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

/*  ==================
       BODY / HEADER
    ==================    */

#topo{
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

#title01{
    font-family: 'Berkshire Swash', cursive;
    color: rgb(240, 238, 236);
    text-shadow: 3px 3px 4px #0f0f0f;
}
/*  ====================
       BODY / SECTION
    ====================    */

    section{
        display: flex;
        flex-direction: row;
    }

    #formDados{
        padding-top: 6%;
        padding-left: 16%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    #import{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40vw;
        padding-bottom: 5%;
        padding-inline-end: 20%;
    }

    #selectRacas{
        background: rgba(240, 255, 255, 0.8);
    }

    #nomeCao{
        padding-top: 10%;
    }

    #nomeCao input{
        background: rgba(240, 255, 255, 0.8);
    }

    #mudar{
        background: rgba(240, 255, 255, 0.7);
        width: 40vw;
    }

    #mudar fieldset{
        width: 40vw;
        display: flex;
        justify-content: space-around;     
        flex-direction: row;
        
    }
    
    #mudar fieldset legend{
        color: rgb(47, 48, 48);
        text-shadow: 1px 1px rgb(194, 194, 194);
        font-family: 'Berkshire Swash', cursive;
        font-size: 1.5em;
    }
  
    #botao{
        padding-top: 4%;
        padding-left: 16%;
    }
   